.App {
  text-align: center;
  font-family: "cairo";
}
.icon-button {
  transition: all 0.5s !important;
}

.icon-button:hover {
  opacity: 0.9;
  scale: 1.1;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.521);
}
.todo-card {
  transition: all 0.8s !important;
}
.todo-card:hover {
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.521);
}
.add-btn {
  transition: all 0.7s !important;
}
.add-btn:hover {
  opacity: 0.9;
  scale: 1.1;
}

@font-face {
  font-family: "Cairo";
  src: url("../public/fonts/Cairo-Light.ttf") format("truetype");
  font-weight: 300; /* Light */
}

@font-face {
  font-family: "Cairo";
  src: url("../public/fonts/Cairo-Regular.ttf") format("truetype");
  font-weight: 400; /* Regular */
}

@font-face {
  font-family: "Cairo";
  src: url("../public/fonts/Cairo-Bold.ttf") format("truetype");
  font-weight: 700; /* Bold */
}

/* Default
.buttons {
  display: flex;
  flex-direction: row;
} */

/* On small screens (600px or less), change flex direction to column */
@media (max-width: 600px) {
  .buttons {
    flex-direction: column;
    gap: 15px;
  }
}

